[submodule "lib/Audio"]
	path = lib/Audio
	url = https://github.com/PaulStoffregen/Audio.git
[submodule "lib/uClock"]
	path = lib/uClock
	url = https://github.com/midilab/uClock.git
[submodule "lib/Adafruit_Seesaw"]
	path = lib/Adafruit_Seesaw
	url = https://github.com/adafruit/Adafruit_Seesaw.git
[submodule "lib/SerialFlash"]
	path = lib/SerialFlash
	url = https://github.com/PaulStoffregen/SerialFlash.git
[submodule "lib/lcdgfx"]
	path = lib/lcdgfx
	url = https://github.com/lexus2k/lcdgfx.git
[submodule "lib/lib/Encoder"]
	path = lib/lib/Encoder
	url = https://github.com/PaulStoffregen/Encoder.git
